
    body {
      margin: 0;
      font-family: 'Poppins', sans-serif;
      background-color:var(--primary-color);
      color: var(--text-color);
    }
  :root {
    --primary-color: #D72638; /* Main Red */
    --secondary-color: #121212; /* Deep Black */
    --text-color: #A6A6A6; /* Neutral Gray */
    --highlight-color: #FF5700; /* Bright Orange */
    --hover-color: #8B1E3F; /* Dark Maroon */
    --button-text-color: #FFFFFF; /* White for contrast */
    }
    /* Navbar */
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 60px;
      background-color:var(--secondary-color);
    }

    .logo {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .logo svg{
        width: 70px;
        height: 50px;
        margin: 1px;
        margin-bottom: 0px;
        fill: #333;
        transition: fill 0.3s ease;
    }

    .nav-links {
      display: flex;
      gap: 30px;
    }

    .nav-links a {
      text-decoration: none;
      color:var(--highlight-color);
      font-weight: 500;
    }

    a:hover {
      color: var(--hover-color);
  }

    .phone {
      color: var(--highlight-color);
      font-weight: bold;
    }

    /* Hero Section */
    .hero {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 50px 60px;
    }


    .hero-text h1 {
      font-size: 48px;
      line-height: 1.6;
      margin-bottom: 20px;
      color:var(--button-text-color);
    }

    .hero-text button {
      padding: 12px 25px;
      background-color: var(--secondary-color);
      color: white;
      border: none;
      border-radius: 10px;
      font-weight: bold;
      cursor: pointer;
      width:50% ;
      height: 30%;
      font-size: 1.2em;

    }

    button:hover {
      background-color: var(--hover-color);
  }

    .hero-image img {
      width: 750px;
      height:;
      border-radius: 10px;
    }
    
    .phone svg {
      width: 20px;
      height: 15px;
      fill: #333;
      transition: fill 0.3s ease;
  }

 /*About section*/
  #about-section{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin:70px 0px;
    padding: 50px 60px;
    background-color: var(--secondary-color);
  
  }

  .about-image img{
    width: 750px;
    height: 550px;
  
  }
  
  .about-text h2{
    text-align: center;
    font-size: 48px;
    color: var(--primary-color);
  }
 
 .about-text p{
  font-size: 20px;
  width: 500px;
  padding: 5px 10px;
  line-height: 1.6;
  color:var(--text-color2);
  }
  
  /* Services Section */

  .services-header h2{
    text-align: center;
    font-size: 48px;
    margin: 0px 0px 12px 0px;
    color: var(--secondary-color);
  }
 .service-text{
    font-size: 20px;
    text-align: center;
    padding: 5px 10px;
    margin: 0px 0px;
    color:var(--button-text-color);
  }
  .services-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 1.5em;
    height: 100vh;
    margin-top: 40px;
  }
 
  .services{
    
    background:var(--button-text-color);
    border-radius: 10px;
    padding: 20px;
    height: 300px;
    width: 300px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  .services-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .service-button {

      padding: 12px 25px;
      background-color: var(--secondary-color);
      color: white;
      border: none;
      border-radius: 10px;
      font-weight: bold;
      cursor: pointer;
      width:30% ;
      height: 30%;
      font-size: 1.2em;
      margin-bottom: 20px;
  }

 
  service-image{
    width: 300px;
  height: 200px;
  background-image: url('./Assets/Images/pexels-olly-3946831.jpg');
  background-size: cover;     /* This fills the container */
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  .services h3{
    color: var(--secondary-color);
  }
    
    @media (max-width: 768px) {
      .hero {
        flex-direction: column;
        text-align: center;
      }
      .hero-text, .hero-image {
        max-width: 100%;
      }
      .hero-text h1 {
        font-size: 32px;
      }
    }
   
    @media (max-width: 768px) {
      .services {
          width: calc(50% - 20px);
      }
  }
  
  @media (max-width: 480px) {
      .services {
          width: 100%;
      }
  }      